.DS_Store
*.sublime-project
*.project
*.log
*.aux
*.fls
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.run.xml
sftp-config.json
~$*
.Rproj.user
update_annotation.R
.Rbuildignore
.gitignore
RnBeads.hg38.Rproj

